<table class="table">
  <tr>
    <th>Product Name</th>
    <th>Quantity</th>
    <th>Price Per Product</th>
    <th>Remove Product(s)</th>
  </tr>
  <%@carted_product.each do |carted_product| %>
  <tr>
    <td><%=carted_products.product.name %></td>
    <td><%=carted_products.quantity %></td>
    <td><%=carted_products.product.price %></td>
    <td><%= link_to "Remove Product(s)","/carted_products/#{carted_products.id}", method: :delete %></td>
  </tr>
  <% end %>
</table>
<table class="table">
  <tr>
    <th>Subtotal</th>
    <th><%= @subtotal %></th>
    <th>Tax</th>
    <th><%= @tax %></th>
    <th>Total</th>
    <th><%= @total %></th>
  </tr>
</table>

<%= link_to "Confirm", "/orders", method: :post %>