    <section>
      <div class="row">
        <ul class="pull-right view-choice">
          <li><%= link_to "Show Discounted Items", "/products?view=discounted" %></li>
          <li><%= link_to "Show Priced Lowest to Highest", "/products?view=order_by_price" %></li>
          <li><%= link_to "Show Priced Highest to Lowest", "/products?view=order_by_price_desc" %></li>
          <li><%= link_to "I'm feeling lucky", "/products/random" %></li>
          <li><%= link_to "Show All", "/products" %></li>
          <% @categories.each do |category| %>
            <li><%= link_to "#{category.name} Coffee", "/products?category=#{category.name}" %></li>
          <% end %>
        </ul>
      </div>
      <div class="row">
      
      <!--Make magic happen here Ruby!-->


      <% @product.each do |product| %>

        <div class="col-sm-4">
          <div class="product_single">
            <h2><%= product.name %></h2>
            <li>Price: <%= product.price %></li>
            <a href="/products/<%= product.id %>" title="View Product"><img src="<%= product.images.first.image_url %>" alt="<%= product.name %>" class="img-responsive product_single_image"></a>
            <li>Description: <%= product.description %></li>
          </div>
        </div>
      <% end %>
      <!--Magic ends-->

      </div>
    </section>
    <%= link_to "Add New Product", "products/new" %>




